@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700);


body {
  background: #eaeaea;
  font-family: 'Roboto Condensed', sans-serif;
  color: #505050;
  -webkit-font-smoothing: antialiased;
}

.logo-wrapper {
  position: absolute;
  margin:0 auto;
  width:300px;
  height:300px;
  left:85%;
  top: 78%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  -webkit-transition: top 0.5s ease;
  -moz-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  transition: top 0.5s ease;
}

.circle {
  width: 300px;
  height: 300px;
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
  background:#ff5047;
  position:absolute;
  border-radius: 50% 50% 50% 50%;
  top:0px;
  left:0px;
  /*-webkit-animation: radius 4s ease-in-out infinite normal;*/
}

@-webkit-keyframes radius {
  0% { 
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  }
  
  10% {
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  }
  
  20% {
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */

  }
  
  30% {
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  }
  
  40% {
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  }
  
  50% {
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  }
  
  60% {
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  }
  
  70% {
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  }
  
  80% {
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  }
  
  90% {
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */

  }
  
  100% {
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    }
  }

.line {
  width:90px;
  height:10px;
  background:transparent;
  position:absolute;
}
.line2 {
    width:49px;
    height:10px;
    background:transparent;
    position:absolute;
  }
  .line2:before {
    position:absolute;
    content:"";
    width:100%;
    height:10px;
    background: #fff;
    
  }
  .linelong {
    width:120px;
    height:10px;
    background:transparent;
    position:absolute;
  }
  .linelong:before {
    position:absolute;
    content:"";
    width:100%;
    height:10px;
    background: #fff;
    
  }

.line3 {
    top:205px;
    left:16px;
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

.line4 {
    top:197px;
    left:85px;
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.line5 {
    top:175px;
    left:106px;
    -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
    transform: rotate(315deg);
}

.line:before {
  position:absolute;
  content:"";
  width:100%;
  height:10px;
  background: #fff;
  
}

.line1:before,.line2:before {
    -webkit-animation: grow1 4s ease infinite normal;
}

.line3:before {
    -webkit-animation: grow3 4s ease infinite normal;
}
.line4:before {
    -webkit-animation: grow4 4s ease infinite normal;
}
.line5:before {
    -webkit-animation: grow5 4s ease infinite normal;
}

@-webkit-keyframes grow5 {
  0% {
    width:100%;
  }
  
  10% {
    width:0%;
  }
  
  20% {
    width:0%;
  }
  
  30% {
    width:0%;
  }
  
  40% {
    width:0%;
  }
  
  50% {
    width:0%;
  }
  
  60% {
    width:0%;
  }
  
  70% {
    width:0%;
  }
  
  80% {
    width:0%;
  }
  
  90% {
    width:100%;
  }
  
  100% {
    width:100%;
  }
}

@-webkit-keyframes grow4 {
  0% {
    width:100%;
  }
  
  10% {
    width:100%;
  }
  
  20% {
    width:0%;
  }
  
  30% {
    width:0%;
  }
  
  40% {
    width:0%;
  }
  
  50% {
    width:0%;
  }
  
  60% {
    width:0%;
  }
  
  70% {
    width:0%;
  }
  
  80% {
    width:100%;
  }
  
  90% {
    width:100%;
  }
  
  100% {
    width:100%;
  }
}

@-webkit-keyframes grow3 {
  0% {
    width:100%;
  }
  
  10% {
    width:100%;
  }
  
  20% {
    width:100%;
  }
  
  30% {
    width:0%;
  }
  
  40% {
    width:0%;
  }
  
  50% {
    width:0%;
  }
  
  60% {
    width:0%;
  }
  
  70% {
    width:100%;
  }
  
  80% {
    width:100%;
  }
  
  90% {
    width:100%;
  }
  
  100% {
    width:100%;
  }
}

@-webkit-keyframes grow1 {
  0% {
    width:100%;
  }
  
  10% {
    width:100%;
  }
  
  20% {
    width:100%;
  }
  
  30% {
    width:100%;
  }
  
  40% {@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700);


    body {
      background: #eaeaea;
      font-family: 'Roboto Condensed', sans-serif;
      color: #505050;
      -webkit-font-smoothing: antialiased;
    }
    
    .logo-wrapper {
      position: absolute;
      margin:0 auto;
      width:300px;
      height:300px;
      left:15%;
      top: 78%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      cursor: pointer;
      -webkit-transition: top 0.5s ease;
      -moz-transition: top 0.5s ease;
      -o-transition: top 0.5s ease;
      transition: top 0.5s ease;
    }
    
    .circle {
      width: 300px;
      height: 300px;
      -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
      transform: rotate(-45deg);
      background:#ff5047;
      position:absolute;
      border-radius: 50% 50% 50% 50%;
      top:0px;
      left:0px;
      -webkit-animation: radius 4s ease-in-out infinite normal;
    }
    
    @-webkit-keyframes radius {
      0% { 
      -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
      }
      
      10% {
      -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
      }
      
      20% {
      -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    
      }
      
      30% {
      -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
      }
      
      40% {
      -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
      }
      
      50% {
      -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
      }
      
      60% {
      -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
      }
      
      70% {
      -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
      }
      
      80% {
      -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
      }
      
      90% {
      -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    
      }
      
      100% {
      -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        }
      }
    
    .line {
      width:90px;
      height:10px;
      background:transparent;
      position:absolute;
    }
    .line2 {
        width:49px;
        height:10px;
        background:transparent;
        position:absolute;
      }
      .line2:before {
        position:absolute;
        content:"";
        width:100%;
        height:10px;
        background: #fff;
        
      }
      .linelong {
        width:120px;
        height:10px;
        background:transparent;
        position:absolute;
      }
      .linelong:before {
        position:absolute;
        content:"";
        width:100%;
        height:10px;
        background: #fff;
        
      }
    
    .line3 {
        top:205px;
        left:16px;
        -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
        transform: rotate(-45deg);
    }
    
    .line4 {
        top:197px;
        left:85px;
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
    }
    
    .line5 {
        top:175px;
        left:106px;
        -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
        transform: rotate(315deg);
    }
    
    .line:before {
      position:absolute;
      content:"";
      width:100%;
      height:10px;
      background: #fff;
      
    }
    
    .line1:before,.line2:before {
        -webkit-animation: grow1 4s ease infinite normal;
    }
    
    .line3:before {
        -webkit-animation: grow3 4s ease infinite normal;
    }
    .line4:before {
        -webkit-animation: grow4 4s ease infinite normal;
    }
    .line5:before {
        -webkit-animation: grow5 4s ease infinite normal;
    }
    
    @-webkit-keyframes grow5 {
      0% {
        width:100%;
      }
      
      10% {
        width:0%;
      }
      
      20% {
        width:0%;
      }
      
      30% {
        width:0%;
      }
      
      40% {
        width:0%;
      }
      
      50% {
        width:0%;
      }
      
      60% {
        width:0%;
      }
      
      70% {
        width:0%;
      }
      
      80% {
        width:0%;
      }
      
      90% {
        width:100%;
      }
      
      100% {
        width:100%;
      }
    }
    
    @-webkit-keyframes grow4 {
      0% {
        width:100%;
      }
      
      10% {
        width:100%;
      }
      
      20% {
        width:0%;
      }
      
      30% {
        width:0%;
      }
      
      40% {
        width:0%;
      }
      
      50% {
        width:0%;
      }
      
      60% {
        width:0%;
      }
      
      70% {
        width:0%;
      }
      
      80% {
        width:100%;
      }
      
      90% {
        width:100%;
      }
      
      100% {
        width:100%;
      }
    }
    
    @-webkit-keyframes grow3 {
      0% {
        width:100%;
      }
      
      10% {
        width:100%;
      }
      
      20% {
        width:100%;
      }
      
      30% {
        width:0%;
      }
      
      40% {
        width:0%;
      }
      
      50% {
        width:0%;
      }
      
      60% {
        width:0%;
      }
      
      70% {
        width:100%;
      }
      
      80% {
        width:100%;
      }
      
      90% {
        width:100%;
      }
      
      100% {
        width:100%;
      }
    }
    
    @-webkit-keyframes grow1 {
      0% {
        width:100%;
      }
      
      10% {
        width:100%;
      }
      
      20% {
        width:100%;
      }
      
      30% {
        width:100%;
      }
      
      40% {
        width:0%;
      }
      
      50% {
        width:0%;
      }
      
      60% {
        width:100%;
      }
      
      70% {
        width:100%;
      }
      
      80% {
        width:100%;
      }
      
      90% {
        width:100%;
      }
      
      100% {
        width:100%;
      }
    }
    
    
  }
  
  50% {
    width:0%;
  }
  
  60% {
    width:100%;
  }
  
  70% {
    width:100%;
  }
  
  80% {
    width:100%;
  }
  
  90% {
    width:100%;
  }
  
  100% {
    width:100%;
  }
}

